In [1]:
import pandas as pd
import numpy as np

file_path = 'C:/Users/Maks/Desktop/Energy Indicators.xls'

energy = pd.read_excel(file_path, skiprows=17, header=None, skipfooter=38)
energy = energy.drop([0, 1], axis=1)
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy['Energy Supply'] = energy['Energy Supply'] * 1000000
energy = energy.replace('...', np.NaN)
energy['Country'] = energy['Country'].replace({'Republic of Korea': 'South Korea',
'United States of America': 'United States',
'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
'China': 'Hong Kong', 'Hong Kong Special Administrative Region': 'Hong Kong'})
energy['Country'] = energy['Country'].str.replace(r'\(.*\)', '')  # Видалення дужок
energy['Country'] = energy['Country'].str.replace(r'\d+', '')  # Видалення чисел

energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,NaN,PetajoulesPetajoulesPetajoulesPetajoulesPetajo...,Gigajoules,%
1,Afghanistan,321000000,10,78.66928
2,Albania,102000000,35,100
3,Algeria,1959000000,51,0.55101
4,American Samoa,.................................................,NaN,0.641026
...,...,...,...,...
223,Viet Nam,2554000000,28,45.32152
224,Wallis and Futuna Islands,0,26,0
225,Yemen,344000000,13,0
226,Zambia,400000000,26,99.71467
227,Zimbabwe,480000000,32,52.53612

In [2]:
import pandas as pd

file_path = 'C:/Users/Maks/Desktop/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_5871885.csv'

GDP = pd.read_csv(file_path, header=2)
GDP = GDP.rename(columns={'Country Name': 'Country'})
GDP['Country'] = GDP['Country'].replace({
    'Korea, Rep.': 'South Korea',
    'Iran, Islamic Rep.': 'Iran',
    'Hong Kong SAR, China': 'Hong Kong'
})
GDP

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.112502e+10,2.161623e+10,2.350628e+10,2.804836e+10,2.592067e+10,2.947210e+10,...,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.044764e+10,1.117321e+10,1.199053e+10,1.272769e+10,1.389811e+10,1.492979e+10,...,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.074393e+09,6.295845e+09,6.682674e+09,7.180769e+09,7.878763e+09,7.899741e+09,7.717143e+09,9.412034e+09,9.429156e+09,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.041589e+11,3.885312e+11,3.376196e+11,4.190156e+11,4.058697e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.214765e+10,2.978445e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.067806e+10,NaN

In [3]:
import pandas as pd

file_path = 'C:/Users/Maks/Desktop/scimagojr country rank 1996-2022.xlsx'

ScimEn = pd.read_excel(file_path)

ScimEn

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,360468,358777,3947871,2705774,10.95,308
1,2,United States,Northern America,199442,195042,3068926,881789,15.39,422
2,3,India,Asiatic Region,76103,74167,760964,280893,10.00,217
3,4,Japan,Asiatic Region,56249,55680,633294,136132,11.26,217
4,5,United Kingdom,Western Europe,52572,51156,909276,151672,17.30,267
...,...,...,...,...,...,...,...,...,...
207,208,Palau,Pacific Region,1,1,0,0,0.00,0
208,209,Montserrat,Latin America,1,1,7,0,7.00,1
209,210,Saint Vincent and the Grenadines,Latin America,1,1,1,0,1.00,1
210,211,Guinea-Bissau,Africa,1,1,29,3,29.00,1
211,212,British Indian Ocean Territory,Africa,1,1,81,0,81.00,1

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
merged = pd.merge(ScimEn, energy, on='Country', how='inner')
merged = pd.merge(merged, GDP, on='Country', how='inner')
GDP = GDP[['Country', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
answer_one = pd.merge(ScimEn, energy, how='inner', left_on='Country', right_on='Country')
answer_one = pd.merge(answer_one, GDP, how='inner', left_on='Country', right_on='Country')

answer_one.set_index('Country', inplace=True)
answer_one = answer_one[answer_one['Rank'] <= 15]

answer_one

,Rank,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,,
India,3,Asiatic Region,76103,74167,760964,280893,10.00,217,33195000000,26,14.96908,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856721e+12,2.039126e+12,2.103588e+12
Germany,6,Western Europe,47781,46767,641717,133693,13.43,230,13261000000,165,17.90153,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
Russian Federation,7,Eastern Europe,43567,43290,175721,79765,4.03,103,30709000000,214,17.28868,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,8,Northern America,39036,38276,787010,125333,20.16,263,10431000000,296,61.94543,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
South Korea,10,Asiatic Region,35294,35005,503147,87529,14.26,182,11007000000,221,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
Brazil,15,Latin America,25887,25493,260540,60487,10.06,145,12149000000,59,69.64803,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12