In [1]:
import pandas as pd
import numpy as np

file_path = 'C:/Users/Maks/Desktop/Energy Indicators.xls'

energy = pd.read_excel(file_path, skiprows=17, header=None, skipfooter=38)
energy = energy.drop([0, 1], axis=1)
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy['Energy Supply'] = energy['Energy Supply'] * 1000000
energy = energy.replace('...', np.NaN)
energy['Country'] = energy['Country'].replace({'Republic of Korea': 'South Korea',
'United States of America': 'United States',
'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
'China': 'Hong Kong', 'Hong Kong Special Administrative Region': 'Hong Kong'})
energy['Country'] = energy['Country'].str.replace(r'\(.*\)', '')  # Видалення дужок
energy['Country'] = energy['Country'].str.replace(r'\d+', '')  # Видалення чисел

energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,NaN,PetajoulesPetajoulesPetajoulesPetajoulesPetajo...,Gigajoules,%
1,Afghanistan,321000000,10,78.66928
2,Albania,102000000,35,100
3,Algeria,1959000000,51,0.55101
4,American Samoa,.................................................,NaN,0.641026
...,...,...,...,...
223,Viet Nam,2554000000,28,45.32152
224,Wallis and Futuna Islands,0,26,0
225,Yemen,344000000,13,0
226,Zambia,400000000,26,99.71467
227,Zimbabwe,480000000,32,52.53612

In [2]:
file_path = 'C:/Users/Maks/Desktop/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_5871885.csv'

GDP = pd.read_csv(file_path, header=2)
GDP = GDP.rename(columns={'Country Name': 'Country'})
GDP['Country'] = GDP['Country'].replace({
    'Korea, Rep.': 'South Korea',
    'Iran, Islamic Rep.': 'Iran',
    'Hong Kong SAR, China': 'Hong Kong'
})
GDP

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.112502e+10,2.161623e+10,2.350628e+10,2.804836e+10,2.592067e+10,2.947210e+10,...,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.044764e+10,1.117321e+10,1.199053e+10,1.272769e+10,1.389811e+10,1.492979e+10,...,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7.074393e+09,6.295845e+09,6.682674e+09,7.180769e+09,7.878763e+09,7.899741e+09,7.717143e+09,9.412034e+09,9.429156e+09,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.322859e+10,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.811989e+11,3.467098e+11,3.235855e+11,3.814488e+11,4.041589e+11,3.885312e+11,3.376196e+11,4.190156e+11,4.058697e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.811064e+10,2.214765e+10,2.978445e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10,2.067806e+10,NaN

In [3]:
file_path = 'C:/Users/Maks/Desktop/scimagojr.xlsx'

ScimEn = pd.read_excel(file_path)
ScimEn = ScimEn.reset_index(drop=True)

ScimEn

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,273437,272374,2336764,1615239,8.55,245
1,2,United States,Northern America,175891,172431,2230544,724472,12.68,363
2,3,India,Asiatic Region,55082,53775,463165,162944,8.41,181
3,4,Japan,Asiatic Region,50523,50065,488062,119930,9.66,193
4,5,United Kingdom,Western Europe,43389,42284,615670,111290,14.19,226
...,...,...,...,...,...,...,...,...,...
203,204,Comoros,Africa,1,1,0,0,0.00,0
204,205,Svalbard and Jan Mayen,Western Europe,1,1,0,0,0.00,0
205,206,Palau,Pacific Region,1,1,0,0,0.00,0
206,207,Bahamas,Latin America,1,1,0,0,0.00,0
207,208,Central African Republic,Africa,1,1,0,0,0.00,0

In [4]:
merged = pd.merge(ScimEn, energy, on='Country', how='outer')
merged = pd.merge(merged, GDP, on='Country', how='outer')
GDP = GDP[['Country', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
answer_one = pd.merge(ScimEn, energy, how='outer', left_on='Country', right_on='Country')
answer_one = pd.merge(answer_one, GDP, how='outer', left_on='Country', right_on='Country')
answer_one.set_index('Country', inplace=True)
answer_one = answer_one[answer_one['Rank'] <= 15]
answer_one['Rank'] = answer_one['Rank'].astype(int)
answer_one['Documents'] = answer_one['Documents'].astype(int)
answer_one['Citable documents'] = answer_one['Citable documents'].astype(int)
answer_one['Citations'] = answer_one['Citations'].astype(int)
answer_one['Self-citations'] = answer_one['Self-citations'].astype(int)
answer_one['H index'] = answer_one['H index'].astype(int)

columns_to_keep = ['Rank', 'Documents', 'Citable documents', 
                   'Citations', 'Self-citations',
                   'Citations per document', 
                   'H index', 
                   'Energy Supply',
                   'Energy Supply per Capita',
                   '% Renewable',
                   '2006', 
                   '2007',
                   '2008',
                   '2009',
                   '2010',
                   '2011',
                   '2012',
                   '2013',
                   '2014',
                   '2015']
answer_one = answer_one.loc[:, columns_to_keep]
answer_one

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,273437,272374,2336764,1615239,8.55,245,NaN,NaN,NaN,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551545e+12,8.532186e+12,9.570471e+12,1.047562e+13,1.106157e+13
United States,2,175891,172431,2230544,724472,12.68,363,NaN,NaN,NaN,1.381559e+13,1.447423e+13,1.476986e+13,1.447806e+13,1.504896e+13,1.559973e+13,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13
India,3,55082,53775,463165,162944,8.41,181,33195000000,26,14.96908,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856721e+12,2.039126e+12,2.103588e+12
Japan,4,50523,50065,488062,119930,9.66,193,NaN,NaN,NaN,4.601663e+12,4.579750e+12,5.106679e+12,5.289494e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,43389,42284,615670,111290,14.19,226,NaN,NaN,NaN,2.709978e+12,3.092996e+12,2.931684e+12,2.417566e+12,2.491397e+12,2.666403e+12,2.706341e+12,2.786315e+12,3.065223e+12,2.934858e+12
Germany,6,38739,38013,433148,95145,11.18,196,13261000000,165,17.90153,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
Russian Federation,7,36735,36560,115938,54993,3.16,90,30709000000,214,17.28868,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,8,33472,32863,568080,100953,16.97,227,10431000000,296,61.94543,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,27983,26940,352993,87828,12.61,166,NaN,NaN,NaN,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
South Korea,10,27655,27445,328488,61531,11.88,155,11007000000,221,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
France,11,25232,24732,343860,65734,13.63,178,NaN,NaN,NaN,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Iran,12,22933,22734,307280,97038,13.40,141,NaN,NaN,NaN,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,6.261331e+11,6.440355e+11,4.927756e+11,4.603828e+11,4.082129e+11
Spain,13,21955,21597,352497,64588,16.06,176,NaN,NaN,NaN,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324751e+12,1.355580e+12,1.371821e+12,1.196157e+12
Brazil,14,21524,21236,183915,45172,8.54,127,12149000000,59,69.64803,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12
Australia,15,20614,20147,314307,51583,15.25,176,NaN,NaN,NaN,7.479074e+11,8.544273e+11,1.055686e+12,9.286298e+11,1.148570e+12,1.398456e+12,1.546953e+12,1.576330e+12,1.467590e+12,1.350580e+12

In [5]:
def answer_two():
    Top15 = answer_one
    years = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    Top15['avgGDP'] = Top15[years].mean(axis=1)
    avgGDP = Top15['avgGDP'].sort_values(ascending=False)
    return avgGDP

print(answer_two())

Country
United States         1.570403e+13
China                 6.927707e+12
Japan                 5.239642e+12
Germany               3.523342e+12
United Kingdom        2.780276e+12
France                2.691337e+12
Italy                 2.142986e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.400886e+12
South Korea           1.221372e+12
Australia             1.207513e+12
Iran                  4.563261e+11
Name: avgGDP, dtype: float64

In [6]:
def answer_three():
    Top15 = answer_one
    sixth_largest = Top15.iloc[5]
    gdp_difference = sixth_largest['2015'] - sixth_largest['2006']
    return gdp_difference
print(answer_three())

362882077328.0303

In [7]:
def answer_four():
    Top15 = answer_one
    Top15['Citation_ratio'] = Top15['Self-citations'] / Top15['Citations']
    max_ratio_country = Top15['Citation_ratio'].idxmax()
    max_ratio = Top15['Citation_ratio'].max()
    return (max_ratio_country, max_ratio)
print(answer_four())

('China', 0.6912289816173135)

In [8]:
def answer_five():
    Top15 = answer_one
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15.sort_values(by='Population', ascending=False, inplace=True)
    third_most_populous_country = Top15.iloc[2].name
    return third_most_populous_country
print(answer_five())

Russian Federation

In [10]:
def answer_six():
    Top15 = answer_one
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['Population']
    df_new = Top15[['Citable docs per Capita', 'Energy Supply per Capita']]
    correlation = df_new.corr(method='pearson')
    return correlation.loc['Citable docs per Capita', 'Energy Supply per Capita']

print(answer_six())

0.8907673164573793

In [11]:
def answer_seven():
    Top15 = answer_one
    Top15['Population Estimate'] = (Top15['Energy Supply'] / Top15['Energy Supply per Capita']).astype(float)
    Top15['Continent'] = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    
    result = Top15.groupby('Continent')['Population Estimate'].agg(['size', 'sum', 'mean', 'std'])
    
    return result
print(answer_seven())

               size           sum          mean           std
Continent
Asia              5  1.326536e+09  6.632681e+08  8.675672e+08
Australia         1  0.000000e+00           NaN           NaN
Europe            6  2.238697e+08  1.119348e+08  4.463987e+07
North America     2  3.523986e+07  3.523986e+07           NaN
South America     1  2.059153e+08  2.059153e+08           NaN